---
---

//
// IMPORTS
//

@import "reset";
@import "variables";

header {
  background-image: url('{{ site.baseurl }}/images/header-bg.png');
  height: 150px;
  background-size: auto;
  background-position-x: center;
  background-position-y: center;
}

footer {
  background-color: $lightGray;
  padding: 10px;
}

#main {
  min-height: 400px;
}

img {
  max-width: 400px;
  float: left;
  margin: 20px;
}

ul {
  list-style-type: disc;
}

h2 {
  padding-top: 40px;
}

.card-img-top {
  margin: 0px;
  max-width: 100%;
}

.carousel-inner img {
  max-width: none;
  max-height: none;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
